# ======================================
# Ignora archivos y carpetas comunes 
# en proyectos de desarrollo web
# ======================================

# Assets y recursos estáticos de restaurante1-html-css-js
/Full-WebDesigner-by-ItsJoshuaCode/week-1/landing-page-html-css-js/**/images/*
/Full-WebDesigner-by-ItsJoshuaCode/week-1/landing-page-html-css-js/*/images/*.{png,jpg,jpeg,svg}
/Full-WebDesigner-by-ItsJoshuaCode/week-1/landing-page-html-css-js/**/images/*.{png,jpg,jpeg,webp,gif,svg}
C:/Users/JOSHUASANCH3/Documents/_0_REPOSITORIES/Full-WebDesigner-by-ItsJoshuaCode/week-1/cafeteria-html-css-js/**/images/*

# Assets y recursos estáticos de cafeteria-html-css-js
/Full-WebDesigner-by-ItsJoshuaCode/week-1/cafeteria-html-css-js/**/images/*
/Full-WebDesigner-by-ItsJoshuaCode/week-1/cafeteria-html-css-js/**/images/*.{png,jpg,jpeg,svg}
/Full-WebDesigner-by-ItsJoshuaCode/week-1/cafeteria-html-css-js/**/images/*.{png,jpg,jpeg,webp,gif,svg}
C:/Users/JOSHUASANCH3/Documents/_0_REPOSITORIES/Full-WebDesigner-by-ItsJoshuaCode/week-1/landing-page-html-css-js/**/images/*


