# ======================================
# Ignora archivos y carpetas comunes 
# en proyectos de desarrollo web
# ======================================

# Omitir Recursos de la Semana 1 del proyecto
week-1/**/images/

# Omitir Recursos de la Semana 2 del proyecto
week-2/**/images/