<footer class="footer container">
    <div class="footer__container grid">
        <!-- Local Information -->

        <div class="footer__content">
            <a href="/week-2/Ecommerce-html-css-js/index.html" class="footer__logo">
                <img src="/week-2/Ecommerce-html-css-js/assets/images/logo.svg" alt="" class="footer__logo-img">
            </a>
            <h4 class="footer__subtitle">Contact</h4>
            <p class="footer__description">
                <span>Address: </span>562 Wellington Road, Street 32, San Francisco
            </p>
            <p class="footer__description">
                <span>Phone: </span>+01 2222 365 / (+91)01 2345 6789
            </p>
            <p class="footer__description">
                <span>Hour: </span>10:00 - 18:00, Mon-Sat
            </p>

            <!-- Redes Sociales -->
            <div class="footer__social">
                <h4 class="footer__subtitle">Follow Me</h4>
                <div class="footer__social-links flex">
                    <!-- Icono de Facebook -->
                    <a href="#">
                        <img src="/week-2/Ecommerce-html-css-js/assets/images/company-images/icon-facebook.svg" alt=""
                            class="footer__social-img">
                    </a>

                    <!-- Icono de Twitter -->
                    <a href="#">
                        <img src="/week-2/Ecommerce-html-css-js/assets/images/company-images/icon-twitter.svg" alt=""
                            class="footer__social-img">
                    </a>

                    <!-- Icono de Instagram -->
                    <a href="#">
                        <img src="/week-2/Ecommerce-html-css-js/assets/images/company-images/icon-instagram.svg" alt=""
                            class="footer__social-img">
                    </a>

                    <!-- Icono de Pinterest -->
                    <a href="#">
                        <img src="/week-2/Ecommerce-html-css-js/assets/images/company-images/icon-pinterest.svg" alt=""
                            class="footer__social-img">
                    </a>

                    <!-- Icono de Youtube -->
                    <a href="#">
                        <img src="/week-2/Ecommerce-html-css-js/assets/images/company-images/icon-youtube.svg" alt=""
                            class="footer__social-img">
                    </a>

                </div>
            </div>


        </div>

        <!-- Address Content -->
        <div class="footer__content">
            <h3 class="footer__title">Address</h3>
            <ul class="footer__links">
                <li><a href="#" class="footer__link">About Us</a></li>
                <li><a href="#" class="footer__link">Delivery Information</a></li>
                <li><a href="#" class="footer__link">Privacy Policy</a></li>
                <li><a href="#" class="footer__link">Terms & Conditions</a></li>
                <li><a href="#" class="footer__link">Contact Us</a></li>
                <li><a href="#" class="footer__link">Support Center</a></li>
            </ul>
        </div>

        <!-- My Account Content -->
        <div class="footer__content">
            <h3 class="footer__title">My Account</h3>
            <ul class="footer__links">
                <li><a href="#" class="footer__link">Sign In</a></li>
                <li><a href="#" class="footer__link">View Cart</a></li>
                <li><a href="#" class="footer__link">My Whishlist</a></li>
                <li><a href="#" class="footer__link">Track My Order</a></li>
                <li><a href="#" class="footer__link">Help</a></li>
                <li><a href="#" class="footer__link">Order</a></li>
            </ul>
        </div>

        <!-- Method of Payment -->
        <div class="footer__content">
            <h3 class="footer__title">Secured Payment Gateways</h3>
            <img src="/week-2/Ecommerce-html-css-js/assets/images/company-images/payment-method.png"
                alt="Imagen de Metodos de Pago" class="footer__payment-img">
        </div>
    </div>

    <div class="footer__bottom">
        <p class="copyright">&copy; 2023 Evara. All rights Reserved</p>
        <span class="designer">Designed by @ItsJoshuaCode</span>
    </div>
</footer>